html, body {
	width:100%;
	margin:0;
	padding:0; 
	box-sizing: border-box;
}

.container{
	width: 100%;
}


*,
*:before,
*:after {
	box-sizing: inherit;
}

.col {
	float: left;
	display: inline-block;
	margin:0;
	padding:0; 
	text-align: center;
	border:1px solid black;
}

.col-xs-1 {
	width:8.33%;
}

.col-xs-2 {
	width:16.66%;
}

.col-xs-3 {
	width:25%;
}

.col-xs-4 {
	width:33.33%;
}

.col-xs-5 {
	width:41.67%;
}

.col-xs-6 {
	width:50%;
}

.col-xs-7 {
	width:58.165%;
}
.col-xs-8 {
	width:66.67%;
}
.col-xs-9 {
	width:75%;
}

.col-xs-10 {
	width:83.34%;
}


.row::after {
	clear:both;
	content:'';
	display:table;
}